.ant-select-selector {
  background-color: #e0c3f7 !important;
  text-align: left !important;
  border-color: #5700d5 !important;
  color: #5700d5 !important;
  font-size: 18px !important;
  font-family: "VT323" !important;
  height: 30px !important;
  border-radius: 8px !important;
  border-width: 3px !important;
}
.ant-picker-calendar-header .ant-picker-calendar-mode-switch {
  width: "40%";
  background-color: "#5700d5";
  text-align: "left";
  color: "#fffdf7";
  font-size: "18px";
  font-family: "VT323";
  height: "30px";
  border-radius: "8px";
  border-color: "#e0c3f7";
  border-width: "3px";
}
.ant-radio-button-wrapper:first-child {
  background-color: #e0c3f7 !important;
  text-align: left !important;
  border-color: #5700d5 !important;
  color: #5700d5 !important;
  font-size: 18px !important;
  font-family: "VT323" !important;
  height: 30px !important;
  border-radius: 8px !important;
  border-width: 3px !important;
}
.ant-radio-button-wrapper:last-child {
  background-color: #e0c3f7 !important;
  text-align: left !important;
  border-color: #5700d5 !important;
  color: #5700d5 !important;
  font-size: 18px !important;
  font-family: "VT323" !important;
  height: 30px !important;
  border-radius: 8px !important;
  border-width: 3px !important;
}
.ant-picker-calendar-mini {
  border-radius: 16px !important;
  background-color: #e0c3f7 !important;
}
.ant-picker-calendar-mini .ant-picker-panel {
  border-radius: 16px !important;
  background-color: #e0c3f7 !important;
  color: #5700d5 !important;
  font-size: 18px !important;
  font-family: "VT323" !important;
}
.ant-select-multiple .ant-select-selection-placeholder{
  color: #5700d5 !important;
  font-size: 14px !important;
  font-family: "VT323" !important;
}
.ant-timeline-item-content{
  color: #5700d5 !important;
  font-size: 20px !important;
  font-family: "VT323" !important;
}
